section,
nav {
    @apply py-8;
}
section > div,
nav > div {
    @apply w-full max-w-6xl mx-auto px-4 xl:px-0;
}
#menu li {
    @apply text-lg uppercase font-semibold;
}
#menu li a {
    @apply block p-2 lg:hover:bg-gray-50 text-primary-700;
}

.featureList h3 {
    @apply text-primary-600 font-bold text-lg;
}
.featureList p {
    @apply max-w-prose text-lg mt-2 lg:mt-4 text-stone-400;
}
p + h3 {
    @apply mt-4;
}

/* Our Work */
#ourWork li a {
    @apply block pt-2 pb-6 text-xl lg:text-2xl text-stone-500 hover:border-b-2 hover:border-b-primary-400;
}
#ourWork li.selected a {
    @apply font-semibold text-primary-500 border-b-2 border-b-primary-500 hover:border-b-2 hover:border-b-primary-500;
    transition: border-bottom 0.3s ease-in-out;
}

.image-btn {
    @apply cursor-pointer px-3 py-1 rounded;
}
.image-btn.selected {
    @apply bg-primary-500 text-white cursor-default;
}

/* Animation */

/* Slide and fade in animation for headline (left to right) */
@keyframes slideFadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.headline-animate-h1 {
  animation: slideFadeInLeft 1.4s cubic-bezier(0.4, 0, 0.2, 1) both;
}

.headline-animate-h2 {
  animation: slideFadeInLeft 1.4s cubic-bezier(0.4, 0, 0.2, 1) both;
  animation-delay: 0.7s;
}

.slideFadeInLeft {
  animation: slideFadeInLeft 1.2s cubic-bezier(0.4, 0, 0.2, 1) both;
}
